<div class="container">
  <div class="header">
    <h1>
      Idea Box Revenge!
    </h1>
  </div>
  <div id="add-idea">
    <input type="text" id="idea-title">
    <textarea id="idea-body"></textarea>
    <button type="submit" id="idea-save">save</button>
  </div>
  <div id="ideas">

  </div>
</div>
